@font-face {
    font-family: "Forum";
    src: url("./assets/fonts/Forum-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Inter-Regular";
    src: url("./assets/fonts/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Inter-Bold";
    src: url("./assets/fonts/Inter-Bold.ttf");
    font-weight: 700;
}