* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    position: relative;
    width: 100%;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
}

/*HEADER*/

.header {
    height: 90px;
    background-color: #0C0C0E;
}

.header > .wrapper {
    display: flex;
    padding: 20px 18px 20px 20px;
    justify-content: space-between;
}

.logo {
    font-family: "Forum", cursive;
    font-weight: 400;
    font-size: 30px;
    color: #FFF;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.header_content {
    width: 652px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.menu_list {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.menu_item a {
    color: #FFF;
    text-decoration: none;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 50px;
}

.profile {
    width: 28px;
    height: 28px;
}