* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    position: relative;
    width: 100%;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
}

/*HEADER*/

.header {
    height: 90px;
    background-color: #0C0C0E;
}

.header > .wrapper {
    display: flex;
    padding: 20px 18px 20px 20px;
    justify-content: space-between;
}

.logo {
    font-family: "Forum", cursive;
    font-weight: 400;
    font-size: 30px;
    color: #FFF;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.header_content {
    width: 652px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.menu_list {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.menu_item a {
    color: #FFF;
    text-decoration: none;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 50px;
}

.profile {
    width: 28px;
    height: 28px;
}

/*SECTION WELCOME*/

.welcome {
    height: 600px;
    background: url('./assets/img/welcome__bg.png') center center / cover no-repeat;
}

.welcome_title {
    position: absolute;
    top: 220px;
    width: 600px;
    height: 220px;
    padding: 35px 40px;
    font: 400 40px "Forum", cursive;
    text-align: center;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFF;
    background-color: #0C0C0E;
}

.welcome > .wrapper {
    position: relative;
}

/*SECTION ABOUT*/

.about > .wrapper {
    padding: 20px 20px 40px 20px;
}

.title {
    position: relative;
    margin-bottom: 61px;
    color: #0C0C0E;
    font: 400 40px "Forum";
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
}

.title::after {
    content:"";
    position: absolute;
    width: 50px;
    height: 1px;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background: #0C0C0E;
}

.about_info {
    margin-bottom: 20px;
    text-align: center;
    line-height: 40px;
}

.slider_container {
    position: relative;
    width: 1400px;
    height: 560px;
    margin-bottom: 35px;
    overflow-x: hidden;
}

.slider_images {
    position: absolute;
    display: flex;
    gap: 25px;
}

.slider_buttons {
    display: flex;
    width: 78px;
    margin: 0 auto;
}

.slider_btn {
    width: 26px;
    height: 26px;
    padding: 5px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
}

.btn_circle {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #0C0C0E;
}

.selected {
    background-color: #BB945F;
}